Some values provided through prefill do not get url encoded

When providing an email address that contains a `+` character (as often encountered with google mail accounts) the email will not be encoded correctly and be interpreted by calendly as a whitespace. So when passing `foo+bar@example.com` the email field in calendly will be prefilled with `foo bar@example.com` as `+` is a reserved character and should be interpreted as a whitespace.

I guess the solution would be to url encode the final url before using it in the `iframe`. E.g. the `+` should be encoded as `%2B`.

[`UrlSearchParams`](https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams) could also be used which automatically encodes parameters. For older browsers there is a [polyfill](https://github.com/zloirock/core-js#url-and-urlsearchparams) available in core-js.

For reference: [RFC 3986 Section 2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2) for a list of reserved characters.

Thanks for creating this github issue @trixn86! This should now be fixed in version `4.0.1`.

https://github.com/tcampb/react-calendly/pull/117